section {
  > header {
    align-items: center;
    background: #000;
    border-radius: 7px 6px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 18px;

    > h4 {
      color: #ffff;
      font-size: 18px;
      margin: 0;
    }

    > i {
      color: #ffff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 100;
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 18px 18px 0 18px;

    > fieldset {
      > legend {
        color: #000;
        font-size: 16px;
        font-weight: 600;
      }

      > input {
        border: 1px solid #d4d4d4d4;
        height: 32px;

        &::placeholder {
          font-size: 14px;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }

    > footer {
      display: flex;
      gap: 8px;
      justify-content: flex-end;
      padding: 0 18px 18px 0;

      > button {
        align-self: center;
        color: #ffff;
        display: flex;
        font-size: 13px;
        padding: 6px 10px;

       &.btn-fechar {
          background: red;
        }

        &.btn-cadastrar {
          background: black;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
