<section>
  <header>
    <h4>{{titleModal}} de Filme</h4>
    <i class="fa fa-times" (click)="fecharModal()"></i>
  </header>

  <form [formGroup]="filmeForm">
    <fieldset>
      <legend>Título do filme</legend>
      <input class="form-control" name="titulo" id="titulo" type="text" formControlName="titulo" placeholder="Ex: Indiana Jones"/>
    </fieldset>

    <fieldset>
      <legend>Gênero</legend>
      <input class="form-control" name="genero" id="genero" type="text" formControlName="genero" placeholder="Ex: Aventura"/>
      <span>Gênero não pode ter mais de 50 caracteres</span>
    </fieldset>

    <fieldset>
      <legend>Duração em minutos</legend>
      <input [ngClass]="{'error': mensagemErrorDuracao == 1}" class="form-control" name="duracao" id="duracao" type="number" formControlName="duracao" placeholder="Ex: 130" (keyup)="verificarDuracao()"/>
      <span *ngIf="mensagemErrorDuracao == 1">Duração não pode ser menor que 70, nem maior que 600.</span>
    </fieldset>

    <footer>
      <button type="button" class="btn btn-fechar" (click)="fecharModal()">Fechar</button>
      <button type="button" class="btn btn-cadastrar" [disabled]="!filmeForm.valid || mensagemErrorDuracao == 1" (click)="ehCadastroOuEdicao()">{{buttonName}}</button>
    </footer>
  </form>
</section>

