<section>
  <section class="pesquisa-adicao-filmes">
    <div class="pesquisa-filme">
      <input
        type="search"
        placeholder="Pesquise por nome do filme, gênero ou duração."
        [(ngModel)]="filterTerm">
      <i class="fa fa-search"></i>
    </div>

    <button type="button" class="btn btn-primary" (click)="openCadastrar(modalCadastrar)">
      Adicionar
    </button>
  </section>

  <section class="cards-filmes">
    <section *ngFor="let item of listaFilmes | filter: filterTerm">
      <div class="editar-excluir-filme">
        <i class="fa fa-pencil-square-o" title="Editar filme" (click)="openCadastrar(modalEditar, item.id)"></i>
        <i class="fa fa-trash" title="Excluir filme" (click)="openCadastrar(modalDeletar, item.id)"></i>
      </div>

      <div class="card-filme">
        <h2>{{item.titulo}}</h2>
        <p>Gênero: {{item.genero}}</p>
        <p>Duração: {{item.duracao}} minutos</p>
      </div>
    </section>
  </section>

  <ng-template #modalCadastrar let-modal>
    <app-criar-editar-filme [listaFilmes]="listaFilmesCriados"></app-criar-editar-filme>
  </ng-template>

  <ng-template #modalEditar let-modal>
    <app-criar-editar-filme [listaFilmes]="listaFilmesCriados" [id]="filmeId"></app-criar-editar-filme>
  </ng-template>

  <ng-template #modalDeletar let-modal>
    <app-excluir-filme [id]="filmeId"></app-excluir-filme>
  </ng-template>
</section>

