section {
  > .pesquisa-adicao-filmes {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 30px 0;

    > .pesquisa-filme {
      align-items: center;
      border: 3px solid #000;
      border-radius: 5px;
      display: flex;
      gap: 8px;
      padding: 4px;
      height: 30px;
      width: 27%;

      > input {
        border: none;
        height: 25px;
        width: 100%;

        &:focus {
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }
    }

    > .btn-filtrar {
      background: transparent;
      border: 1px solid black;
      border-radius: 5px;
      height: 30px;
      width: 65px;
    }

    > .filtro {
      display: flex;
      gap: 16px;

      > select {
        border: 3px solid #000;
        border-radius: 5px;
        padding: 0 8px 0 8px;
        height: 31px;
      }

      > .btn-limpar-filtro {
        align-items: center;
        background: transparent;
        border: 3px solid black;
        border-radius: 5px;
        display: flex;
        height: 30px;
        width: 107px;
        white-space: nowrap;

      }
    }
  }

  > .cards-filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    > section {
      border: 1px solid #d4d4d4;
      box-shadow: 5px 7px 7px 0px #c4c4c4;
      border-radius: 5px;
      padding: 10px 16px;
      height: 140px;
      width: 469.5px;

      perspective: 1000px;

      > .card-filme {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px 0 0 0;

        transition: transform 1.5s;
        transform-style: preserve-3d;
        position: relative;

        > .front, .back{
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
        }

        > .front {
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 90px 0 0 0;
          justify-content: center;

          > h2 {
            font-size: 22px;
            font-weight: bold;
          }

          > div {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
          }
        }

        > .back {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          padding: 40px 0 0 0;
          transform: rotateY(180deg);

          > .editar, .excluir {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 6px;

            > i {
              cursor: pointer;
              font-size: 30px;

              &:hover {
                color: red;
              }
            }

            > p {
              cursor: pointer;
              font-size: 14px;
              font-weight: 400;
              margin: 0;
            }
          }
        }
      }

      &:hover .card-filme {
        transform: rotateY(180deg);
      }
    }
  }

  > .nao-ha-filmes {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    height: 70vh;

    > i {
      color: yellow;
      font-size: 50px;
    }

    > p {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
}

@mixin btn-border-drawing($color: red, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before { transition-delay: 0s, 0s, $duration; }

    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing(black, red, 2px, bottom, right);
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 2em;
  letter-spacing: 0.05rem;

  &:focus { outline: 2px dotted yellow; }
}

body {
  background: #1f1a25;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
