<section>
  <section class="pesquisa-adicao-filmes" *ngIf="listaFilmesCriados.length >= 1">
    <div class="pesquisa-filme">
      <input
        type="search"
        placeholder="Pesquise por nome do filme, gênero ou duração."
        [(ngModel)]="filterTerm">
      <i class="fa fa-search"></i>
    </div>

    <button *ngIf="!mostrarFiltro" class="btn-filtrar" (click)="abrirFiltro()">
      Filtrar
    </button>

    <div class="filtro" *ngIf="mostrarFiltro">
      <select [(ngModel)]="escolhaFiltro" (ngModelChange)="tipoOrdenacao()">
        <option value="" disabled selected="selected">Selecione...</option>
        <option value="1">Titulo</option>
        <option value="2">genero</option>
        <option value="3">duracao</option>
      </select>

      <button clas="btn-limpar-filtro" (click)="limparFiltro()">Limpar Filtro</button>
    </div>
  </section>

  <section class="nao-ha-filmes" *ngIf="listaFilmesCriados.length < 1">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <span>Não há filmes cadastrados</span>
  </section>

  <section class="cards-filmes">
    <section *ngFor="let item of listaFilmesCriados | filter: filterTerm">

      <div class="card-filme">
        <div class="front">
          <h2>{{item.titulo}}</h2>
          <div>
            <p>Gênero: {{item.genero}}</p>
            <p>Duração: {{item.duracao}} minutos</p>
          </div>
        </div>

        <div class="back">
          <div class="editar">
            <i class="fa fa-pencil-square-o" title="Editar filme" (click)="openCadastrar(modalEditar, item.id)"></i>
            <p (click)="openCadastrar(modalEditar, item.id)">Editar</p>
          </div>
          <div class="excluir">
            <i class="fa fa-trash" title="Excluir filme" (click)="openCadastrar(modalDeletar, item.id)"></i>
            <p (click)="openCadastrar(modalEditar, item.id)">Excluir</p>
          </div>
        </div>
      </div>



    </section>
  </section>

  <ng-template #modalEditar let-modal>
    <app-criar-editar-filme [listaFilmes]="listaFilmesCriados" [id]="filmeId"></app-criar-editar-filme>
  </ng-template>

  <ng-template #modalDeletar let-modal>
    <app-excluir-filme [id]="filmeId"></app-excluir-filme>
  </ng-template>
</section>

