<section>
  <header>
    <h4>Deseja excluir esse filme?</h4>
    <i class="fa fa-times" (click)="fecharModal()"></i>
  </header>

  <div *ngIf="loading === false">
    <p>Caso esse filme seja excluído, ele não será mais apresentado na lista e não será possível desfazer a mudança.</p>
  </div>

  <footer *ngIf="loading === false">
    <button type="button" class="btn btn-fechar" (click)="fecharModal()">Cancelar</button>
    <button type="button" class="btn btn-cadastrar" (click)="excluirFilme(id)">Excluir</button>
  </footer>

  <div class="loader-carregar" *ngIf="loading === true">
    <h2>Excluindo filme</h2>
    <span class="loader"></span>
  </div>
</section>
