@import 'ngx-toastr/toastr';

* {
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-dialog {
  align-items: center;
  display: flex;
  height: 92%;
}
